.contenue_page{
    flex: 1;
    margin-left: 10px;
    border-radius: 20px 0 0 20px;
    padding: 10px;
}
@media screen and (max-width: 720px) {
    .contenue_page{
        margin-left: 0;
        margin-top: 10px;
        border-radius: 20px 20px 0 0;
    }
}