*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}
body{
    background-image: url(../../images/img-background/rajat-sarki-Px6DxlRw7XM-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: local;
}

.page{
    min-height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
}

li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    /* background-color: white; */
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}